.features {
    &__box--container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .box {
            flex: 1 1 30rem;
            background: $White;
            border-radius: .5rem;
            border: .1rem solid rgba(0, 0, 0, 0.2);
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
            margin: 1.5rem;
            padding: 3rem 2rem;
            border-radius: .5rem;
            text-align: center;
            transition: .2s linear;
            img {
                height: 15rem;
            }
            h3 {
                font-size: 2rem;
                color: $gray;
                padding-top: 1rem;
            }
            p {
                font-size: 1.3rem;
                color: $light-gray;
                padding: 1rem 0;
            }
        }
    }
}