.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $White;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    &__logo {
        font-size: 2rem;
        color: $Purple;
        span {
            color: $Pink;
        }
    }
    &__navbar {
        a {
            font-size: 1.7rem;
            margin-left: 2rem;
            color: $Purple;
            &:hover {
                color: $Pink;
            }
        }
    }
    input {
        display: none;
    }
    label {
        font-size: 3rem;
        color: $Purple;
        cursor: pointer;
        visibility: hidden;
        opacity: 0;
        transition: .2s linear;
        @include respond(tablet) {
            visibility: visible;
            opacity: 1;
        }
    }
    &__navbar {
        @include respond(tablet) {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background: $White;
            padding: 1rem 2rem;
            border-top: .1rem solid rgba(0, 0, 0, 0.2);
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
            transform-origin: top;
            transform: scaleY(0);
            opacity: 0;
            a {
                display: block;
                margin: 2rem 0;
                font-size: 2rem;
            }
        }
    }
    input:checked~&__navbar {
        transform: scaleY(1);
        opacity: 1;
    }
    input:checked~label::before {
        content: '×';
        font-size: 3rem;
        font-weight: bold;
    }
}